host:gcc
target:/opt/avr8-gnu-toolchain/bin/avr-gcc.exe

compilerOption:-DF_CPU=16000000UL
compilerOption:-I/opt/avr8-gnu-toolchain/avr/include 
compilerOption:-Og

hostCompilerOption:-D__AVR_ATmega328P__
hostCompilerOption:-D__DELAY_BACKWARD_COMPATIBLE__

targetCompilerOption:-mmcu=atmega328p